{% extends 'number_one/my_base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">list of everyone</h2>
            </div>
            <div class="panel-body">
                <table class="table" summary="People saved to the practice model called People.">
                    <caption>people</caption>
                    <thead>
                    <tr>
                        <th>name</th>
                        <th>eid</th>
                        <th>update</th>
                    </tr>
                    </thead>
                    {%  for person in people  %}
                        <tbody>
                        <tr>
                            <td>{{ person.name }}</td>
                            <td>{{ person.nn_id }}</td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">enter someone new</h2>
            </div>
            <div class="panel-body">
                <form action="{% url 'models_practice:new_person' %}" method="post">
                    {% csrf_token %}
                    {{ manage_people.as_p }}
                    <button type="submit" class="btn btn-lg btn-info">submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}